<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      'api/users/user.json.jbuilder',
       user: current_user
     ).html_safe %>
  <% end %>
</script>

<script type='text/javascript'>
  window.splashPicture = "<%= (image_url('splash_page.png')) %>"
  window.owl = "<%= image_url('owl.png') %>"
  window.airbase = "<%= image_url('airbase.jpg') %>"
</script>


<div id="root">
</div>
