@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1, h4 {
  margin: 0;
}

.splash-right-side {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.splash-signup {
  font-family: "Lato";
  font-size: 40px;
  color: #454545;
}

.splash-comment-form-one {
  font-family: "Quicksand";
  font-weight: normal !important;
  letter-spacing: normal;
  text-rendering: optimizelegibility;
  color: #454545;
  font-size: 19px;
  margin-bottom: 20px;
}

.splash-form {
  width: 450px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.splash-form-field-1 {
  height: 35px;
  width: 180px;
  margin-right: 16px;
  text-indent: 12px;
  font-size: 17px;
  margin-bottom: 10px;
  background: white;
  border-radius: 5px;
  border: 1px #bdd2ff solid;
  font-family: "Open Sans";
}

.splash-form-field-2 {
  height: 35px;
  width: 380px;
  text-indent: 12px;
  font-size: 17px;
  background: white;
  border-radius: 5px;
  border: 1px #bdd2ff solid;
  margin-bottom: 10px;
  font-family: "Open Sans";
}

.splash-form-placeholder::placeholder {
  color: #a1a1a1;
  font-size: 17px;
  letter-spacing: normal;
  vertical-align: middle;
  background-color: transparent;
  position: relative;
}

.new-user-birthdate {
  width: 100px;
}
