
.landing-header {
  height: 80px;
  background-color: #405D9A;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
}

.landing-logo {
  color: #ffffff;
  font-weight: bolder;
  font-size: 35px;
  font-family: "Klavika";
  margin-right: 100px;
}

.landing-logo-link {
  text-decoration: none;
}

.landing-session {
  width: 433px;

}

.session-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 5px;
}

.session-email {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.session-password {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.session-label {
  color: #ffffff;
  margin-bottom: 3px;
  font-weight: 100;
}

.session-textbox {
  background-color: #ffffff;
  height: 19px;
  width: 150px;
  border: 1px solid black;
  text-indent: 2px;
}

.session-login-btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #ffffff;
  font-size: 12px;
  background: #405D9A;
  padding: 3px 5px 3px 5px;
  border: solid #2b3d47 1px;
  text-decoration: none;
  cursor: pointer;
}

.session-login-btn:hover {
  background: #2b499e;
  text-decoration: none;
}

.session-demo-btn:hover {
  background: rgb(35, 156, 69);
  text-decoration: none;
}

.session-demo-btn {
  cursor: pointer;
  padding: 3px 5px 3px 5px;
  font-size: 12px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #ffffff;
  padding: 3px 5px 3px 5px;
  border: solid #2b3d47 1px;
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
}

.session-error {
  margin: 0;
  padding: 0;
  position: fixed;
  color: #eb1515;
  font-size: 12px;
  text-indent: 6px;
}
