.like-post-wrap {
  display: flex;
  justify-content: flex-start;
  width: inherit;
  align-items: center;
  height: 8px;
  font-size: 12px;
}

.like-length-text {
  text-align: center;
  margin-left: 8px;
  margin-right: 3px;
}
