.mp-entire-wrapper {
  display: flex;
}

.main-page-container {
  height: 100%;
  width: 100%;
  background-color: #e9edf4;
}

.main-page-content {
  display: flex;
  flex-direction: row;
  padding-top: 42px;
  justify-content: center;
  height: inherit;
}

.mp-left-nav-wrapper {
  min-width: 160px;
  margin-left: 20px;
  margin-right: 1%;
}

.main-page-left-nav {
  width: inherit;
  display: flex;
  position: fixed;
  flex-direction: column;
}

.mp-left-nav-name-wrap {
  display: flex;
}

.mp-left-nav-pp {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  position: relative;
  top: -3px;
  object-fit: cover;
}
.mp-left-nav-name {
  font-size: 11px;
  letter-spacing: -0.12px;
  text-rendering: optimizelegibility;
  width: 150px;
  height: 15px;
  padding: 5px;

  margin: 20px auto 10px;
}
.mp-left-nav-explore-wrap {
  font-size: 11px;
  letter-spacing: -0.12px;
  text-rendering: optimizelegibility;
  width: 150px;
  height: 15px;
  padding: 5px;

  margin: 2px auto;
}
.mp-left-nav-explore {
  color: rgb(144, 148, 156);
  font-size: 13px;
  font-weight: bold;
  height: 17px;
  margin-bottom: -1px;
  margin-top: -2px;
  letter-spacing: -0.12px;
  padding: 4px 0;
}

.mp-left-nav-misc {
  font-size: 11px;
  letter-spacing: -0.12px;
  text-rendering: optimizelegibility;
  width: 150px;
  height: 15px;
  padding: 5px;

  margin: 2px auto;
  cursor: pointer;
}

.mp-left-nav-misc:hover {
  background-color: #fbfcff;
  border: 1px solid #dadbdd;
  padding: 4px;
}

.mp-left-nav-name:hover {
  background-color: #fbfcff;
  border: 1px solid #dadbdd;
  padding: 4px;
}

.mp-left-nav-name-title {
  padding-left: 20px;
}

.mp-left-nav-newsfeed {
  font-size: 11px;
  text-rendering: optimizelegibility;
  width: 150px;
  height: 15px;
  margin: 0 auto;
  padding: 5px;
  background-color: #fbfcff;
  border: 1px solid #dadbdd;
}

.mp-left-nav-newsfeed-item-1 {
  padding-right: 4px;
}

.main-page-newsfeed {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 100%;
}

.mp-nf-post-form {
  margin-top: 20px;
  width: auto;
  height: 150px;
  background-color: #fbfcff;
  border: 1px solid #dadbdd;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.mp-nf-create-post-wrap {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 4px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  padding: 5px;
}

.mp-nf-pencil {
  margin-right: 8px;
  cursor: pointer;
}
.mp-nf-create-post {
  font-size: 13px;
  text-rendering: optimizelegibility;
  font-weight: bolder;

  cursor: pointer;
}

.mp-nf-post-text-wrap {
  margin: auto;
  display: flex;
}
.mp-nf-post-text-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 36px;
}

.mp-nf-post-text {
  padding-left: 30px;
  width: 360px;
  height: 70px;
  border-bottom: 1px solid #d1d1d1;
  vertical-align: middle;
}

.mp-nf-post-text::placeholder {
  width: inherit;
  height: inherit;
  color: #949494;
  font-size: 13px;
  overflow-wrap: normal;
  vertical-align: middle;
}

.mp-nf-post-modal-img {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 120px;
  object-fit: cover;
}

.mp-nf-post-form-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.modal-fixed {
  overflow: hidden;
}

.mp-nf-post-modal {
  background-color: #fbfcff;
  border: 1px solid #dadbdd;
  position: relative;
  width: 500px;
  height: 350px;
  margin-top: 65px;
  margin-left: 220px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.mp-nf-post-modal-txt {
  padding-left: 50px;
  width: 430px;
  height: 70px;
  border-bottom: 1px solid #d1d1d1;
}

.mp-nf-post-modal-txt::placeholder {
  width: inherit;
  height: inherit;
  padding: 0;
  color: #949494;
  font-size: 13px;
}

.mp-nf-post-modal-btn {
  padding: 0 16px;
  margin-right: 6px;
  margin-bottom: 6px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #ffffff;
  font-size: 12px;
  background: rgb(66, 103, 178);
  padding: 3px 5px;
  border: solid #2b3d47 1px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 450px;
  text-align: center;
}

.mp-nf-post-modal-btn:hover {
  background: #2b499e;
  text-decoration: none;
}

.mp-newsfeed-post-item {
  height: auto;
  overflow-wrap: break-word;
  background-color: #fbfcff;
  border: 1px solid #dadbdd;
  padding: 13px;
  margin: 10px 0;
  border-radius: 3px;
}

.mp-nf-pi-wrapper {
  padding: 10px;
}

.mp-nf-pi-header {
  display: flex;
  flex-direction: column;
}

.mp-nf-pi-name-wrap {
  width: 225px;
  display: flex;
  justify-content: flex-start;
}


.mp-nf-pi-name-wrap1 {
  margin: 0 5px;
}

.mp-nf-pi-name-pic {
  display: flex;
}

.caret {
  color: rgb(157, 157, 157);
  margin-top: 2px;
}

.mp-nf-pi-name {
  color: rgb(66, 103, 178);
  font-size: 14px;
  line-height: 16.56px;
  font-weight: bold;
  width: 110px;
}

.mp-nf-pi-name-underline:hover {
  text-decoration: underline;
}

.mp-nf-pi-img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  position: relative;
  right: 6px;
}
.mp-nf-pi-img-wrap {
  margin-right: 5px;
}
.mp-nf-pi-name-header {
  display: flex;
  justify-content: space-between;
}

.mp-nf-pi-after-img-wrap {
  margin-left: 8px;
}

.mp-nf-pi-name label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.mp-nf-pi-header-misc {
  display: flex;
}

.mp-nf-pi-date {
  cursor: pointer;
  font-size: 10px;
  line-height: 16.56px;
  font-weight: normal;
  color: rgb(144, 148, 156);
}

.mp-nf-pi-separator {
  margin: 0 2px;
  color: rgb(144, 148, 156);
}

.mp-nf-pi-globe {
  color: rgb(144, 148, 156);
}

.mp-nf-pi-body {
  padding-top: 15px;
}

.mp-nf-pi-body-img {
  padding: 10px 0;
}

.mp-nf-pi-footer {
  border-top: 1px solid #dadbdd;
  padding-top: 6px;
  margin: 10px 0;
  color: #4b4f56;
  font-size: 12px;
  display: flex;
  font-weight: bold;
  margin-left: 10px;
  user-select: none;
}

.mp-nf-pi-footer-icon {
  margin-right: 3px;
  text-decoration: none;
}

.mp-nf-pi-footer-item:hover {
  text-decoration: underline;
}

.mp-nf-pi-footer-item {
  margin-right: 20px;
  cursor: pointer;
}

.mp-nf-pi-dropdown {
  position: relative;
  display: inline-block;

}
.mp-nf-pi-dropdown-wrap1 {
  margin-left: 300px;
}
.mp-nf-pi-dropdown-wrap2 {
  margin-left: 300px;
}

.mp-nf-pi-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 40px;
  height: inherit;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 998;
  font-size: 13px;
  border-radius: 3px;
}
.mp-nf-pi-dropdown-content button {
  display: block;
  padding: 5px;
}
.mp-nf-pi-dropdown-content button:hover {
  display: block;
  background-color: #d9d9d9;
}
.mp-nf-pi-dropdown:hover .mp-nf-pi-dropdown-content {
  display: flex;
  flex-direction: column;
}
.mp-nf-pi-dropdown-btn {
  cursor: pointer;
  color: #d4d4d4;
}

.mp-nf-edit-form-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.mp-nf-edit-modal {
  background-color: #f5f5f5;
  border: 1px solid #dadbdd;
  width: 600px;
  height: 150px;
  margin-left: 280px;
  margin-top: 280px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.mp-nf-edit-post-wrap {
  display: flex;
  flex-direction: column;
}

.mp-nf-edit-post {
  font-size: 13px;
  font-weight: bold;
  color: #151616;
  margin-top: 6px;
  margin-left: 6px;
}
.mp-nf-edit-post-text-wrap {
  background-color: #fbfcff;
  width: 100%;
  margin: 7px 0;
  border-top: 1px solid #dadbdd;
  border-bottom: 1px solid #dadbdd;

}

.mp-nf-edit-post-modal-txt {
  padding: 20px;
  width: 500px;
  margin: 7px 0;
  font-size: 13px;
}

.mp-nf-edit-post-modal-btn {
  color: #ffffff;
  font-size: 12px;
  background: rgb(66, 103, 178);
  padding: 3px 5px;
  border: solid #2b3d47 1px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 550px;
  padding-bottom: 5px;
  margin-bottom: 3px;
  text-align: center;
  width: 30px;
}
.mp-nf-edit-post-modal-btn:hover {
  background: #2b499e;
  text-decoration: none;
}



.mp-nf-pic-upload-wrapper > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 13px;
  text-rendering: optimizelegibility;
  font-weight: bolder;
}

.mp-nf-pic {
  margin-right: 5px;
}

.mp-nf-pic-upload-wrapper {
  margin-left: 15px;
  filter: invert(10%);
}

.mp-nf-pic-upload-wrapper {
  width: inherit;
  height: inherit;
}

.mp-nf-pic-upload-wrapper > input {
    display: none;
}

@media only screen and (max-width: 1030px) {
  .main-page-content {
    justify-content: center;
  }
}
@media only screen and (max-width: 730px) {
  .mp-left-nav-wrapper {
    display: none;
  }
}
