.main-page-ad {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: inherit;
  height: 500px;
  position: fixed;
}
.mp-ad-page-wrapper {
  width: 400px;
  margin-top: 20px;
  margin-left: 1%;
}

.ad-space-3 {
  vertical-align: middle;
  text-align: center;
  width: 280px;
  user-select: none;
  cursor: default;
  line-height: 20px;
}

.ad-space-3-wrap {
  background-color: white;
  width: 300px;
  height: 40px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  padding: 5px;
  align-items: center;
  border: 1px solid #dadbdd;
}

.ad-space-4 {
  vertical-align: middle;
  text-align: center;
  width: 280px;
  user-select: none;
  cursor: default;
  line-height: 20px;
}
.ad-space-4 > a:hover {
  text-decoration: underline;
}

.ad-space-4-wrap {
  background-color: white;
  width: 300px;
  height: 15px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  padding: 5px;
  align-items: center;
  border: 1px solid #dadbdd;
}

.ad-space-2-wrap {
  background-color: white;
  width: 300px;
  height: 30px;
  font-size: 12px;
  display: flex;
  padding: 5px;
  align-items: center;
  border: 1px solid #dadbdd;
}

.ad-space-2 {
  text-align: center;
  text-indent: 30px;
  user-select: none;
  cursor: default;
}

.ad-github-pic {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 200px;
  height: 200px;
  object-fit:scale-down;
}

.ad-space-1-wrap {
  background-color: white;
  width: 300px;
  height: 250px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: space-around;
  border: 1px solid #dadbdd;
}
.ad-sponsored {
  color: rgb(144, 148, 156);
  font-weight: bolder;
  margin-bottom: 5px;
}

.ad-airbase {
  width: inherit;
  height: inherit;
}
.ad-airbase-img {
  height: auto;
}

.ad-space-1b label {
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.ad-space-1b span:hover {
  text-decoration: underline;
}

.ad-space-1b span {
  cursor: pointer;
}

.ad-space-1b {
  height: auto;
}

@media only screen and (max-width: 1030px) {
  .mp-ad-page-wrapper {
    display: none;
  }
}
