.navbar-container {
  display: flex;
  flex-direction: row;
  height: 42px;
  background-color:#405D9A;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 3;
  width: 100%;
}

.navbar-right-side-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  filter:invert(100%);
}

.navbar-search-ctn {
  display: flex;
  vertical-align: middle;
  align-items: center;
}

.navbar-searchbar {
  margin-left: 5px;
  background-color: white;
  text-indent: 2px;
  font-size: 14px;
  width: 401px;
  cursor: text;
  height: 28px;
  box-sizing: border-box;
  outline: 1px solid rgba(0, 0, 0, 0);
  overflow: hidden;
  padding: 0;
  line-height: 18px;
  padding: 3px 0 0;
  text-shadow: none;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  text-indent: 6px;
}

.navbar-searchbar::placeholder {
  background-color: white;
  text-indent: 2px;
  font-size: 14px;
  text-indent: 6px;
  vertical-align: middle;
  color: #b8b8b8;
  text-rendering: optimizelegibility;
  font-weight: 200;
}

.navbar-search-btn {
  background-color: #f6f6f6;
  padding-top: 5px;
  text-align: center;
  width: 45px;
  height: 23px;
  cursor: pointer;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  margin-right: 140px;
}

.navbar-search-btn:hover {
  background-color: #ebebeb;
}

.navbar-user-home-hover:hover {
  background: #2b499e;
  text-decoration: none;
}

.navbar-user {
  padding: 5px;
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
}
.navbar-user-wrap {
  display: flex;

}
.navbar-user-pp {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 2px;
}
.navbar-home {
  margin-left: 20px;
  margin-right: 20px;
}
.navbar-notif {
  margin-left: 10px;
  cursor: pointer;
}
.navbar-notif-on {
  margin-left: 10px;
  cursor: pointer;
  filter: invert(100%);
}

.navbar-search-dropdown-wrapper {
  position: relative
}

.navbar-search-dropdown {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 400px;
  left: -432px;
  top: 10px;
  margin-left: 31px;
  margin-top: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 998;
  font-size: 13px;
  border-radius: 3px;
  cursor: pointer;
}

.navbar-search-dropdown p {
  height: 25px;
  width: inherit;
  background-color: #f6f7f9;
  color: #90949c;
  border: 1px solid #e9e9e9;
  padding-top: 10px;
  text-indent: 10px;
}
.navbar-search-dropdown div:hover {
  background-color: #e9edff;
}
.navbar-search-el {
  height: 25px;
  width: inherit;
  text-indent: 20px;
  padding-top: 10px;
}
.navbar-search-hidden {
  display: none;
}

.navbar-logout-btn {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  color: #ffffff;
  margin-left: 15px;
  background: #405D9A;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
}
.navbar-logout-btn:hover {
  filter: invert(5%);
}
.arrow-up-wrap {
  position:relative;
}
.arrow-up {
  width: 0;
  height: 0;
  position:absolute;
  top: -10px;
  left: 420px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid #f9f9f9;
}
.arrow-up-fr {
  width: 0;
  height: 0;
  position:absolute;
  top: -38px;
  left: 400px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid #f9f9f9;
}

@media only screen and (max-width: 590px) {
  .arrow-up {
    top: -10px;
    left: 239px;
  }
  .arrow-up-fr {
    left: 231px;
  }
}


@media only screen and (max-width: 1070px) {
  .navbar-container {
    justify-content: space-between;
  }

  .navbar-search-dropdown {
    display: none;
  }

  .navbar-search-ctn {
    margin-left: 4%;
    width: 100%;
  }

  .navbar-home {
    margin: 0 5vh;
  }

  .navbar-search-btn {
    margin-right: 0;
  }

  .navbar-searchbar {
    width: 50%;
    min-width: 200px;
  }
  .navbar-right-side-wrap {
    margin-right: 3%;
  }
}

@media only screen and (max-width: 610px) {
  .navbar-container {
    justify-content: center;
    width: 100%;
  }
  .navbar-search-ctn {
    display: none;
  }
  .navbar-right-side-wrap {
    width: 100%;
    justify-content: space-around;
  }
}
