.navbar-fr {
  cursor: pointer;
}
.navbar-fr-on {
  cursor: pointer;
  filter: invert(100%);
}

.navbar-fr-content {
  position: relative;
  background-color: #f9f9f9;
  min-width: 432px;
  height: auto;
  top: 75px;
  left: -525px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 998;
  border-radius: 3px;
}
.navbar-fr-text {
  padding: 6px;
  font-size: 12px;
  cursor: default;
  border-bottom: 1px solid #d1d1d1;
  font-weight: bolder
}

.navbar-fr-wrap {
  display: flex;
  flex-direction: row;
  width: inherit;
  cursor: default;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #d1d1d1;
}
.navbar-fr-name {
  color: rgb(66, 103, 178);
  font-size: 12px;
  font-weight: bolder;
  margin-top: 6px;
}
.navbar-fr-name:hover {
  text-decoration: underline;
  cursor: pointer
}
.navbar-fr-confirm {
  color: #ffffff;
  font-size: 12px;
  background: rgb(66, 103, 178);
  border: solid #2b3d47 1px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
  width: 68px;
  height: 25px;
  font-weight: bold;
}

.navbar-fr-confirm:hover {
  display: block;
  background-color: rgb(70, 111, 193);
}

.navbar-fr-btn-wrap {
  display: flex;
  justify-content: flex-end;
}

.navbar-fr-deny {
  margin-left: 4px;
  color: #4b4f56;
  font-size: 12px;
  background: #f6f7f9;
  border: solid #2b3d47 1px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  width: 108px;
  height: 25px;
}
.navbar-fr-deny:hover {
  background-color: #ebebeb;
}

.navbar-fr-no-friends {
  text-align: center;
  padding: 10px;
  font-size: 14px;
  cursor: default;
}
