.navbar-container {
  display: flex;
  flex-direction: row;
  height: 42px;
  background-color:#405D9A;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  z-index: 2;
  width: 100%;
}
.navbar-logo {
  filter:invert(100%);
}

.navbar-search-ctn {
  display: flex;
  vertical-align: middle;
  margin-left: 80px;
  align-items: center;
}

.navbar-searchbar {
  margin-left: 5px;
  background-color: white;
  text-indent: 2px;
  font-size: 14px;
  width: 401px;
  cursor: text;
  height: 28px;
  box-sizing: border-box;
  outline: 1px solid rgba(0, 0, 0, 0);
  overflow: hidden;
  padding: 0;
  line-height: 18px;
  padding: 3px 0 0;
  text-shadow: none;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  text-indent: 6px;
}

.navbar-searchbar::placeholder {
  background-color: white;
  text-indent: 2px;
  font-size: 14px;
  text-indent: 6px;
  vertical-align: middle;
  color: #b8b8b8;
  text-rendering: optimizelegibility;
  font-weight: 200;
}

.navbar-search-btn {
  background-color: #f6f6f6;
  padding-top: 5px;
  text-align: center;
  width: 45px;
  height: 23px;
  cursor: pointer;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  margin-right: 235px;
}

.navbar-search-btn:hover {
  background-color: #ebebeb;
}

.navbar-user-home-hover:hover {
  background: #2b499e;
  text-decoration: none;
}

.navbar-user {
  padding: 5px;
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
}
.navbar-home {
  margin-left: 20px;
  margin-right: 20px;
}
.navbar-notif {
  margin-left: 10px;
  cursor: pointer;
}

.navbar-help {
  margin-left: 20px;
  margin-right: 15px;
  cursor: default;
}

.navbar-help:hover {
  filter:invert(100%);
}

.navbar-logout {
  margin-bottom: 9px;
}
.navbar-logout:hover {
  filter: invert(100%);
}

.navbar-logout-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.navbar-logout-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 40px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 998;
  font-size: 13px;
  border-radius: 3px;
}
.navbar-logout-dropdown-content p {
  display: block;
  padding: 5px;
}

.navbar-logout-dropdown-content p:hover {
  display: block;
  background-color: #d9d9d9;
}
.navbar-logout-dropdown:hover .navbar-logout-dropdown-content {
  display: block;
}

.navbar-help-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 80px;
  margin-left: 28px;
  margin-top: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 998;
  font-size: 13px;
  padding: 4px;
  border-radius: 3px;
  cursor: default;
}

.navbar-logout-dropdown:hover .navbar-help-dropdown-content {
  display: block;
}
